<!DOCTYPE html>
<!-- <html lang="en"> -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Clean Blog - Start Bootstrap Theme</title>
    </head>
  <body>
       <form method="POST" action="{{url_for('receive_data')}}">
            <label for="fname">Name:</label>
            <input type="text" id="fname" name="username" placeholder="name">
            <label for="lname">Password</label>
            <input type="password" id="lname" name="password" placeholder="password">
            <button type="submit">OK</button>
        </form> 
    </body>
</html>
